.mainQuestions
{
    text-align: center;
    font-weight: bold;
    background-color: gray;
}

.additionalQuestion
{
    font-size: smaller;
}

ol {
    margin-left: 0 !important;
    padding-left: 20px !important;
}

table, th,tr, td {
    border: 1px solid black;
    min-height: 40px !important;
    height: 64px;
}